div {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  position: absolute;
}

#media {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:20px;
  left:30px;
  text-align: center;
}

#youtube {
  height: 60px;
  width: 60px;
  top:20px;
  left:240px;
}

#twitch {
  height: 60px;
  width: 60px;
  top:20px;
  left:310px;
}

#soundcloud {
  height: 60px;
  width: 60px;
  top:20px;
  left:380px;
}

#social {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:100px;
  left:30px;
  text-align: center;
}

#vk {
  height: 60px;
  width: 60px;
  top:100px;
  left:240px;
}

#instagram {
  height: 60px;
  width: 60px;
  top:100px;
  left:310px;
}

#twitter {
  height: 60px;
  width: 60px;
  top:100px;
  left:380px;
}

#facebook {
  height: 60px;
  width: 60px;
  top:100px;
  left:450px;
}

#search {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:180px;
  left:30px;
  text-align: center;
}

#google {
  height: 60px;
  width: 60px;
  top:180px;
  left:240px;
}

#yandex {
  height: 60px;
  width: 60px;
  top:180px;
  left:310px;
}

#duckduckgo {
  height: 60px;
  width: 60px;
  top:180px;
  left:380px;
}

#mail {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:260px;
  left:30px;
  text-align: center;
}

#gmail {
  height: 60px;
  width: 60px;
  top:260px;
  left:240px;
}

#ymail {
  height: 60px;
  width: 60px;
  top:260px;
  left:310px;
}

#clouds {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:340px;
  left:30px;
  text-align: center;
}

#gdrive {
  height: 60px;
  width: 60px;
  top:340px;
  left:240px;
}

#ydisk {
  height: 60px;
  width: 60px;
  top:340px;
  left:310px;
}

#dropbox {
  height: 60px;
  width: 60px;
  top:340px;
  left:380px;
}

#programming {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:420px;
  left:30px;
  text-align: center;
}

#github {
  height: 60px;
  width: 60px;
  top:420px;
  left:240px;
}

#javarush {
  height: 60px;
  width: 60px;
  top:420px;
  left:310px;
}

#ideone {
  height: 60px;
  width: 60px;
  top:420px;
  left:380px;
}

#wolfram {
  height: 60px;
  width: 60px;
  top:420px;
  left:450px;
}

#mathway {
  height: 60px;
  width: 60px;
  top:420px;
  left:520px;
}

#read {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:500px;
  left:30px;
  text-align: center;
}

#anon {
  height: 60px;
  width: 60px;
  top:500px;
  left:240px;
}

#habrahabr {
  height: 60px;
  width: 60px;
  top:500px;
  left:310px;
}

#other {
  padding-top: 10px;
  height: 50px;
  width: 200px;
  top:580px;
  left:30px;
  text-align: center;
}

#gtranslate {
  height: 60px;
  width: 60px;
  top:580px;
  left:240px;
}

#rutracker {
  height: 60px;
  width: 60px;
  top:580px;
  left:310px;
}

#lichess {
  height: 60px;
  width: 60px;
  top:580px;
  left:380px;
}

#hh {
  height: 60px;
  width: 60px;
  top:580px;
  left:450px;
}

#schedule {
  border: 2px solid black;
  top: 20px;
  left: 600px;
}

#time {
  top: 20px;
  left: 1000px;
  font-size: 40px;
}

#weather {
  top: 90px;
  left: 1100px;
  font-size: 40px;
}
